@charset "utf-8";
/* CSS Document */
.container{
	background-color: #D2D5CD;
	width: 100%;
	margin: auto;
}
.form{
	width: 80%;
	background-color: #D2D5CD;
	margin-top: 5%;
	margin-right: 10%;
	margin-left: 10%;
	border: thin none;
	margin-bottom: 5%;
	}
.hdr{
	width: 20%;
}
.input{
	width: 100%;
	margin-top: 4px;
	margin-right: 4px;
	margin-left: 4px;
	margin-bottom: 4px;
	height: 30px;
}
.Button{
	width: 94%;
	margin-top: 17px;
	margin-right: 3%;
	margin-left: 4%;
	margin-bottom: 0%;
	background-color: #5B5BA8;
	color: white;
	border: none;
	height: 28px;
}
.cna{
	margin-top: 21px;
	margin-right: 23%;
	margin-left: 23%;
	background-color: green;
	color: white;
	width: 54%;
	border: thin  #640600;
	text-align: center;
	height: 25px;
	font-size: 18px;
	color-profile: white;
	text-emphasis-color: white;
}
.error{
	
	margin-top: 15px;
	
	background-color: red;
	color: white;
	width: auto;
	border: thin  #640600;
	text-align: center;
	height: 17px;
	font-size: 13px;
	color-profile: white;
	text-emphasis-color: white;}

